@media screen and (min-width: 350px) and (max-width: 858px) {
  .containerContacto {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .containerContacto .form {
    font-size: 16px;
  }
}
iframe {
  width: 100vh;
}

@media screen and (min-width: 859px) and (max-width: 1199px) {
  .containerContacto {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .containerContacto {
    width: 100%;
  }
  .containerContacto .parrafoContacto {
    font-family: "Merriweather", serif;
  }
}
@media screen and (min-width: 350px) and (max-width: 858px) {
  .faqContainer {
    width: 90%;
    max-width: 1320px;
    margin: 0 auto;
    color: white;
  }
  .faqContainer .faqRow {
    display: flex;
    width: 100%;
  }
  .faqContainer .faqRow .faqCol {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .faqContainer .faqRow .faqCol .faqTexto {
    font-size: 15px;
    padding-top: 2%;
    padding-left: 3%;
    font-family: "Rubik", sans-serif;
    justify-content: center;
  }
  .faqPreguntas {
    padding-top: 4%;
    color: white;
    box-shadow: 7px 13px 37px rgba(0, 0, 0, 0.5);
    width: 80%;
  }
  .faqPreguntas hr {
    border-color: white;
  }
  .faqPreguntas .preguntaSimbolo1,
  .faqPreguntas .preguntaSimbolo2,
  .faqPreguntas .preguntaSimbolo3,
  .faqPreguntas .preguntaSimbolo4,
  .faqPreguntas .preguntaSimbolo5,
  .faqPreguntas .preguntaSimbolo6 {
    display: flex;
    justify-content: start;
    width: 100%;
    padding: 10px;
  }
  .faqPreguntas .preguntaSimbolo1 i,
  .faqPreguntas .preguntaSimbolo2 i,
  .faqPreguntas .preguntaSimbolo3 i,
  .faqPreguntas .preguntaSimbolo4 i,
  .faqPreguntas .preguntaSimbolo5 i,
  .faqPreguntas .preguntaSimbolo6 i {
    margin-left: 500px;
  }
  .faqPreguntas a {
    text-decoration: none;
    color: white;
    display: block;
  }
  .faqPreguntas section {
    width: 100%;
    margin: 0 auto;
    padding: 30px;
  }
  .faqPreguntas section p {
    width: 100%;
    overflow: hidden;
    max-height: 0;
    text-align: justify;
    transition: all 0.2s ease-in-out;
  }
  .faqPreguntas section:target p {
    max-height: 400px;
    padding: 10px;
    max-width: 400px;
  }
  .faqPreguntas .pregunta1 {
    width: 100%;
  }
}
@media screen and (min-width: 859px) {
  .faqContainer {
    width: 90%;
    max-width: 1320px;
    margin: 0 auto;
    color: white;
  }
  .faqContainer .faqRow {
    display: flex;
    width: 100%;
  }
  .faqContainer .faqRow .faqCol {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .faqContainer .faqRow .faqCol .faqTexto {
    font-size: 20px;
    padding-top: 2%;
    padding-left: 3%;
    font-family: "Rubik", sans-serif;
    justify-content: center;
  }
  .faqPreguntas {
    padding-top: 4%;
    color: white;
    box-shadow: 7px 13px 37px rgba(0, 0, 0, 0.5);
  }
  .faqPreguntas hr {
    border-color: white;
  }
  .faqPreguntas .preguntaSimbolo1,
  .faqPreguntas .preguntaSimbolo2,
  .faqPreguntas .preguntaSimbolo3,
  .faqPreguntas .preguntaSimbolo4,
  .faqPreguntas .preguntaSimbolo5,
  .faqPreguntas .preguntaSimbolo6 {
    display: flex;
    justify-content: start;
    width: 100%;
    padding: 10px;
  }
  .faqPreguntas .preguntaSimbolo1 i,
  .faqPreguntas .preguntaSimbolo2 i,
  .faqPreguntas .preguntaSimbolo3 i,
  .faqPreguntas .preguntaSimbolo4 i,
  .faqPreguntas .preguntaSimbolo5 i,
  .faqPreguntas .preguntaSimbolo6 i {
    margin-left: 500px;
  }
  .faqPreguntas a {
    text-decoration: none;
    color: white;
    display: block;
  }
  .faqPreguntas section {
    width: 100%;
    margin: 0 auto;
    padding: 100px;
  }
  .faqPreguntas section p {
    width: 50%;
    overflow: hidden;
    max-height: 0;
    text-align: justify;
    transition: all 0.2s ease-in-out;
  }
  .faqPreguntas section:target p {
    max-height: 200px;
    padding: 10px;
  }
}
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#active1 {
  color: brown;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
}

.my-float {
  margin-top: 16px;
}

/* NAV BAR */
@media screen and (min-width: 350px) and (max-width: 858px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 2;
  }
  .header .checkbtn {
    display: block;
    float: right;
    color: white;
    font-size: 30px;
    line-height: 50px;
    margin-right: 40px;
    cursor: pointer;
  }
  .header nav {
    background-color: black;
  }
  .header nav ul {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    top: 45px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  .header nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .header nav ul li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
  }
  .header #check {
    display: none;
  }
  .header .link:hover {
    background: none;
    color: grey;
  }
  .header #check:checked ~ ul {
    left: 0;
  }
  /* Footer */
  .footer {
    font-size: 60%;
    background: black;
    height: 10%;
    border-top: 2px solid rgba(0, 0, 0, 0.24);
    display: flex;
    /*  poner footer abajo */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
  }
  .footer .fa-instagram {
    font-size: x-large;
    margin-right: 0.3%;
    margin-top: 0.5%;
  }
  .footer .fa-facebook {
    font-size: x-large;
    margin-top: -10%;
    padding-left: 25%;
    margin-right: 50px;
  }
}
@media screen and (min-width: 859px) and (max-width: 1199px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 2;
  }
  .header .enlace {
    position: absolute;
    padding: 20px 50px;
  }
  .header .enlace .indice__logo {
    height: 40px;
  }
  .header nav {
    background: black;
    height: 80px;
    width: 100%;
  }
  .header nav ul {
    float: right;
    color: white;
    background: black;
    margin-right: 20px;
  }
  .header nav ul li {
    display: inline-block;
    margin: 0 5px;
    line-height: 80px;
    color: white;
  }
  .header nav ul li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 7px 13px;
    text-transform: uppercase;
  }
  .header nav .checkbtn {
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  .header nav #check {
    display: none;
  }
  .header nav .link:hover {
    background: grey;
    width: 20px;
  }
  /* Footer */
  .footer {
    font-size: 60%;
    background: black;
    height: 10%;
    border-top: 2px solid rgba(0, 0, 0, 0.24);
    display: flex;
    /*  poner footer abajo */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
  }
  .footer .fa-instagram {
    font-size: x-large;
    margin-right: 0.3%;
    margin-top: 0.5%;
  }
  .footer .fa-facebook {
    font-size: x-large;
    margin-top: -10%;
    padding-left: 25%;
    margin-right: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 2;
  }
  .header nav {
    background: black;
    height: 80px;
    width: 100%;
  }
  .header nav .enlace {
    position: absolute;
    padding: 20px 50px;
  }
  .header nav .enlace .indice__logo {
    height: 40px;
  }
  .header nav ul {
    float: right;
    color: white;
    background: black;
    margin-right: 20px;
  }
  .header nav ul li {
    display: inline-block;
    margin: 0 5px;
    line-height: 80px;
  }
  .header nav ul li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 7px 13px;
    text-transform: uppercase;
  }
  .header nav .checkbtn {
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  .header nav #check {
    display: none;
  }
  .header nav .link:hover {
    background: grey;
  }
}
@media screen and (min-width: 350px) and (max-width: 858px) {
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../img/Fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  .inicioContainer {
    display: flex;
    flex-direction: column;
  }
  .inicioContainer .inicioTexto {
    padding-left: 3%;
    margin-top: 10%;
    font-size: large;
    margin-top: 3%;
    margin-bottom: 2%;
    order: 3;
    color: white;
    margin-left: 25px;
  }
  .inicioContainer .titulo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    order: 0;
  }
  .inicioContainer .titulo h1 {
    color: white;
    font-size: 50px;
    margin-top: 2%;
    font-family: "Roboto", sans-serif;
    margin-left: 30px;
  }
  .inicioContainer .subtitulo {
    order: 2;
    color: white;
  }
  .inicioContainer .subtitulo h2 {
    margin-left: 30px;
    margin-top: 10%;
    font-family: "Arimo", sans-serif;
  }
  .inicioContainer .carrusel1 {
    margin-top: 20%;
    margin-left: 30%;
    width: 40%;
    order: 1;
  }
  .inicioContainer .carrusel2 {
    margin-top: 20%;
    margin-left: 30%;
    width: 40%;
    order: 4;
  }
}
@media screen and (min-width: 859px) and (max-width: 1199px) {
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../img/Fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  body .inicioContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  body .inicioContainer .inicioTexto {
    display: flex;
    justify-content: center;
    padding-left: 3%;
    margin-top: 10%;
    font-size: large;
    margin-top: 3%;
    margin-bottom: 2%;
    order: 3;
    color: white;
  }
  body .inicioContainer .carrusel1 {
    margin-top: 20%;
    margin-left: 30%;
    width: 40%;
    order: 1;
  }
  body .inicioContainer .carrusel2 {
    margin-top: 20%;
    margin-left: 30%;
    width: 40%;
    order: 4;
  }
  body .inicioContainer .titulo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    order: 0;
  }
  body .inicioContainer .titulo h1 {
    color: #343a40;
    font-size: 50px;
    margin-top: 2%;
    font-family: "Roboto", sans-serif;
  }
  body .inicioContainer .subtitulo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    order: 2;
    color: white;
  }
  body .inicioContainer .subtitulo h2 {
    justify-content: center;
    margin-left: 3%;
    margin-top: 10%;
    font-family: "Arimo", sans-serif;
  }
}
@media screen and (min-width: 1200px) {
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../img/Fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  body .inicioContainer {
    padding: 10% 10%;
    display: grid;
    grid-gap: 10%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30% 5% 25% 30% 10%;
    grid-template-areas: " titulo  carrusel1 " "subtitulo  subtitulo " " inicioTexto  carrusel2   " "inicioTexto none" "footer footer";
  }
  body .inicioContainer .titulo {
    grid-area: titulo;
    margin-left: 3%;
    color: white;
    font-size: 30px;
    margin-top: 20%;
    font-family: "Roboto", sans-serif;
  }
  body .inicioContainer .titulo h1 {
    color: #343a40;
    font-size: 50px;
    margin-top: 2%;
    font-family: "Roboto", sans-serif;
  }
  body .inicioContainer .subtitulo {
    grid-area: subtitulo;
    margin-left: 1%;
    color: white;
  }
  body .inicioContainer .subtitulo h2 {
    margin-left: 1.5%;
    margin-top: 10%;
    font-family: "Arimo", sans-serif;
  }
  body .inicioContainer .carrusel1 {
    margin-left: 140%;
    width: 100%;
  }
  body .inicioContainer .carrusel2 {
    margin-top: 20%;
    margin-left: 140%;
    width: 100%;
  }
  body .inicioContainer .inicioTexto {
    color: white;
    grid-area: inicioTexto;
    margin-left: 1.5%;
    margin-bottom: 230px;
  }
}
@media screen and (min-width: 350px) and (max-width: 858px) {
  .ubicacionContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
  }
  .ubicacionContainer .ubicacionCol {
    display: flex;
    flex-direction: column;
  }
  .ubicacionContainer .ubicacionCol .ubicacionTexto {
    color: white;
    margin-top: 10%;
    font-size: 15px;
    margin-left: 3%;
  }
  .ubicacionContainer .ubicacionCol .ubicacionImagen {
    width: 80%;
    margin-left: 7%;
    border-radius: 8px;
  }
  .ubicacionContainer .maps {
    margin-top: 3%;
  }
  .ubicacionContainer .maps .mapa {
    padding-left: 3%;
    width: 95%;
    height: 100%;
    padding-bottom: 10%;
  }
}
@media screen and (min-width: 859px) and (max-width: 1199px) {
  .ubicacionContainer {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    grid-template-areas: " ubicacionTexto  ubicacionImagen " "maps    maps ";
  }
  .ubicacionContainer .ubicacionTexto {
    color: white;
    grid-area: ubicacionTexto;
    margin-top: 10%;
    font-size: 30px;
    margin-left: 5%;
  }
  .ubicacionContainer .ubicacionImagen {
    grid-area: ubicacionImagen;
    border-radius: 8px;
  }
  .ubicacionContainer .maps {
    margin-top: 3%;
    grid-area: maps;
    margin-bottom: 2%;
  }
  .ubicacionContainer .maps .mapa {
    padding: 2%;
    grid-area: mapa;
    width: 100%;
    height: 100%;
    padding-bottom: 10%;
    margin-top: 10%;
  }
}
@media screen and (min-width: 1200px) {
  .ubicacionContainer {
    display: grid;
    width: 100%;
    max-width: 100%;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    grid-template-areas: " ubicacionTexto  ubicacionImagen " "maps    maps ";
  }
  .ubicacionContainer .ubicacionTexto {
    color: white;
    grid-area: ubicacionTexto;
    margin-top: 10%;
    font-size: 30px;
    margin-left: 5%;
  }
  .ubicacionContainer .ubicacionImagen {
    grid-area: ubicacionImagen;
    border-radius: 20px;
  }
  .ubicacionContainer .maps {
    margin-top: 3%;
    grid-area: maps;
    margin-bottom: 2%;
  }
  .ubicacionContainer .maps .mapa {
    padding: 2%;
    grid-area: mapa;
    width: 100%;
    height: 100%;
    padding-bottom: 10%;
    margin-top: 10%;
  }
}
@media screen and (min-width: 350px) and (max-width: 858px) {
  .bodyVehiculos {
    background-image: none;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  .bodyVehiculos .parrafoVehiculos {
    margin-left: 5%;
  }
  .bodyVehiculos .tarjetas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    line-height: 1.6;
    font-family: sans-serif;
  }
  .bodyVehiculos .tarjetas .card1 {
    background-image: url("../img/Cuatri-1500-1.webp");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
  }
  .bodyVehiculos .tarjetas .card1hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card1focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card2 {
    background-image: url("../img/Mini-Cross.webp");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
  }
  .bodyVehiculos .tarjetas .card2hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card2focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card3 {
    background-image: url("../img/X7.webp");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
  }
  .bodyVehiculos .tarjetas .card3hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card3focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card4 {
    background-image: url("../img/Grace.webp");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
  }
  .bodyVehiculos .tarjetas .card4hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card4focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card5 {
    background-image: url("../img/Leo-Sin-fondo.webp");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
  }
  .bodyVehiculos .tarjetas .card5hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card5focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card6 {
    background-image: url("../img/Hawk.webp");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
  }
  .bodyVehiculos .tarjetas .card6hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card6focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card7 {
    background-image: url("../img/Miku.webp");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
  }
  .bodyVehiculos .tarjetas .card7hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card7focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card8 {
    background-image: url("../img/Robot.webp");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
  }
  .bodyVehiculos .tarjetas .card8hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card8focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card9 {
    background-image: url("../img/Shino.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
  }
  .bodyVehiculos .tarjetas .card9hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card9focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card10 {
    background-image: url("../img/Spy Racing.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
  }
  .bodyVehiculos .tarjetas .card10hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card10focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card11 {
    background-image: url("../img/Miku.webp");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
  }
  .bodyVehiculos .tarjetas .card11hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card11focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card12 {
    background-image: url("../img/Vespa.webp");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
  }
  .bodyVehiculos .tarjetas .card12hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card12focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card-content {
    padding: 1rem;
    background: linear-gradient(black, rgba(0, 0, 0, 0.5));
    transform: translateY(65%);
    transition: transform 500ms ease;
  }
  .bodyVehiculos .tarjetas .card-content .card-content__title {
    font-size: medium;
    color: white;
    text-decoration: none;
    margin-bottom: 23%;
  }
  .bodyVehiculos .tarjetas .card-content .card-content__body {
    color: rgba(255, 255, 255, 0.8);
    font-size: small;
  }
  .bodyVehiculos .card1:hover .card-content,
  .bodyVehiculos .card2:hover .card-content,
  .bodyVehiculos .card3:hover .card-content,
  .bodyVehiculos .card4:hover .card-content,
  .bodyVehiculos .card5:hover .card-content,
  .bodyVehiculos .card6:hover .card-content,
  .bodyVehiculos .card7:hover .card-content,
  .bodyVehiculos .card8:hover .card-content,
  .bodyVehiculos .card9:hover .card-content,
  .bodyVehiculos .card10:hover .card-content,
  .bodyVehiculos .card11:hover .card-content,
  .bodyVehiculos .card12:hover .card-content {
    transform: translateY(0);
    transition-delay: 500ms;
  }
}
@media screen and (min-width: 859px) and (max-width: 1199px) {
  .bodyVehiculos {
    background-image: none;
    background-color: white;
    background-repeat: no-repeat;
    height: 100%;
  }
  .bodyVehiculos .parrafoVehiculos {
    margin-left: 5%;
  }
  .bodyVehiculos .tarjetas {
    margin-top: 10%;
    display: grid;
    grid-gap: 10%;
    margin-left: 10%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "card1 card2 " "card3 card4" "card5 card6" "card7 card8" "card9 card10" "card11 card12" "footer footer";
    align-items: center;
    line-height: 1.6;
    font-family: sans-serif;
  }
  .bodyVehiculos .tarjetas .card1 {
    background-image: url("../img/Cuatri-1500-1.webp");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
  }
  .bodyVehiculos .tarjetas .card1hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card1focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card2 {
    background-image: url("../img/Mini-Cross.webp");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
  }
  .bodyVehiculos .tarjetas .card2hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card2focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card3 {
    background-image: url("../img/X7.webp");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
  }
  .bodyVehiculos .tarjetas .card3hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card3focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card4 {
    background-image: url("../img/Grace.webp");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
  }
  .bodyVehiculos .tarjetas .card4hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card4focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card5 {
    background-image: url("../img/Leo-Sin-fondo.webp");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
  }
  .bodyVehiculos .tarjetas .card5hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card5focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card6 {
    background-image: url("../img/Hawk.webp");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
  }
  .bodyVehiculos .tarjetas .card6hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card6focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card7 {
    background-image: url("../img/Miku.webp");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
  }
  .bodyVehiculos .tarjetas .card7hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card7focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card8 {
    background-image: url("../img/Robot.webp");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
  }
  .bodyVehiculos .tarjetas .card8hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card8focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card9 {
    background-image: url("../img/Shino.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
  }
  .bodyVehiculos .tarjetas .card9hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card9focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card10 {
    background-image: url("../img/Spy Racing.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
  }
  .bodyVehiculos .tarjetas .card10hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card10focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card11 {
    background-image: url("../img/Super Miku.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
  }
  .bodyVehiculos .tarjetas .card11hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card11focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card12 {
    background-image: url("../img/Vespa.webp");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
  }
  .bodyVehiculos .tarjetas .card12hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card12focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card-content {
    padding: 1rem;
    background: linear-gradient(black, rgba(0, 0, 0, 0.5));
    transform: translateY(65%);
    transition: transform 500ms ease;
  }
  .bodyVehiculos .tarjetas .card-content .card-content__title {
    font-size: medium;
    color: white;
    text-decoration: none;
    margin-bottom: 23%;
  }
  .bodyVehiculos .tarjetas .card-content .card-content__body {
    color: rgba(255, 255, 255, 0.8);
    font-size: small;
  }
  .bodyVehiculos .card1:hover .card-content,
  .bodyVehiculos .card2:hover .card-content,
  .bodyVehiculos .card3:hover .card-content,
  .bodyVehiculos .card4:hover .card-content,
  .bodyVehiculos .card5:hover .card-content,
  .bodyVehiculos .card6:hover .card-content,
  .bodyVehiculos .card7:hover .card-content,
  .bodyVehiculos .card8:hover .card-content,
  .bodyVehiculos .card9:hover .card-content,
  .bodyVehiculos .card10:hover .card-content,
  .bodyVehiculos .card11:hover .card-content,
  .bodyVehiculos .card12:hover .card-content {
    transform: translateY(0);
    transition-delay: 500ms;
  }
}
@media screen and (min-width: 1200px) {
  .bodyVehiculos {
    background-image: none;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  .bodyVehiculos .parrafoVehiculos {
    display: flex;
    text-align: center;
    margin-left: 5%;
    width: 100%;
  }
  .bodyVehiculos .tarjetas {
    margin-top: 10%;
    display: grid;
    grid-gap: 9%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas: "card1 card2 card3 card4" "card5 card6 card7 card8" "card9 card10 card11 card12" "footer footer footer footer";
    align-items: center;
    min-height: 150vh;
    line-height: 1.6;
    font-family: sans-serif;
  }
  .bodyVehiculos .tarjetas .card1 {
    background-image: url("../img/Cuatri-1500-1.webp");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
    margin-left: 4%;
  }
  .bodyVehiculos .tarjetas .card1hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card1focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card2 {
    background-image: url("../img/Mini-Cross.webp");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
  }
  .bodyVehiculos .tarjetas .card2hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card2focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card3 {
    background-image: url("../img/X7.webp");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
  }
  .bodyVehiculos .tarjetas .card3hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card3focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card4 {
    background-image: url("../img/Grace.webp");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
  }
  .bodyVehiculos .tarjetas .card4hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card4focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card5 {
    background-image: url("../img/Leo-Sin-fondo.webp");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
    margin-left: 4%;
  }
  .bodyVehiculos .tarjetas .card5hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card5focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card6 {
    background-image: url("../img/Hawk.webp");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
  }
  .bodyVehiculos .tarjetas .card6hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card6focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card7 {
    background-image: url("../img/Miku.webp");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
  }
  .bodyVehiculos .tarjetas .card7hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card7focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card8 {
    background-image: url("../img/Robot.webp");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
  }
  .bodyVehiculos .tarjetas .card8hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card8focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card9 {
    background-image: url("../img/Shino.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
    margin-left: 4%;
  }
  .bodyVehiculos .tarjetas .card9hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card9focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card10 {
    background-image: url("../img/Spy Racing.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
  }
  .bodyVehiculos .tarjetas .card10hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card10focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card11 {
    background-image: url("../img/Super Miku.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
  }
  .bodyVehiculos .tarjetas .card11hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card11focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card12 {
    background-image: url("../img/Vespa.webp");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    max-width: 200px;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
    margin-right: 5%;
  }
  .bodyVehiculos .tarjetas .card12hover {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card12focus-within {
    transform: scale(1.05);
  }
  .bodyVehiculos .tarjetas .card-content {
    padding: 1rem;
    background: linear-gradient(black, rgba(0, 0, 0, 0.5));
    transform: translateY(65%);
    transition: transform 500ms ease;
  }
  .bodyVehiculos .tarjetas .card-content .card-content__title {
    font-size: medium;
    color: white;
    text-decoration: none;
    margin-bottom: 23%;
  }
  .bodyVehiculos .tarjetas .card-content .card-content__body {
    color: rgba(255, 255, 255, 0.8);
    font-size: small;
  }
  .bodyVehiculos .card1:hover .card-content,
  .bodyVehiculos .card2:hover .card-content,
  .bodyVehiculos .card3:hover .card-content,
  .bodyVehiculos .card4:hover .card-content,
  .bodyVehiculos .card5:hover .card-content,
  .bodyVehiculos .card6:hover .card-content,
  .bodyVehiculos .card7:hover .card-content,
  .bodyVehiculos .card8:hover .card-content,
  .bodyVehiculos .card9:hover .card-content,
  .bodyVehiculos .card10:hover .card-content,
  .bodyVehiculos .card11:hover .card-content,
  .bodyVehiculos .card12:hover .card-content {
    transform: translateY(0);
    transition-delay: 500ms;
  }
}

/*# sourceMappingURL=style.css.map */
