* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PÁGINA DE INICIO */

@media screen and (min-width: 350px) and (max-width: 858px) {
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgb(0, 0, 0, 0)),
      url(../img/Fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  /* NAV BAR */

  .checkbtn {
    display: block;
    float: right;
    color: white;
    font-size: 30px;
    line-height: 50px;
    margin-right: 40px;
    cursor: pointer;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    top: 45px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav {
    background-color: black;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
    color: white;
  }
  #check {
    display: none;
  }

  .link:hover {
    background: none;
    color: grey;
  }

  #check:checked ~ ul {
    left: 0;
  }

  /* Footer */

  .footer {
    font-size: 60%;
    background: black;
    height: 10%;
    border-top: 2px solid rgba(0, 0, 0, 0.24);
    display: flex;
    /*  poner footer abajo */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
  }
  .redesSociales__linkInstagram {
    color: white;
    padding-top: 0.3%;
    padding-right: 0.5%;
  }
  .fa-instagram {
    font-size: x-large;
    margin-right: 0.3%;
    margin-top: 0.5%;
  }

  .fa-facebook {
    font-size: x-large;
    margin-top: -10%;
    padding-left: 25%;
  }

  .redesSociales__imagenFacebook {
    color: white;
    padding-top: 7px;
  }

  .redesSociales__Contacto {
    color: white;
    margin-top: 12px;
    margin-left: 18px;
  }

  /* Cuerpo de página de inicio */

  .inicioContainer {
    display: flex;
    flex-direction: column;
  }

  .inicioTexto {
    padding-left: 3%;
    margin-top: 10%;
    font-size: large;
    margin-top: 3%;
    margin-bottom: 2%;
    order: 3;
    color: white;
  }

  .hawk {
    display: flex;
    flex-direction: column;
    order: 1;
    justify-content: center;
    margin: 0 auto;
  }

  .leo {
    display: flex;
    flex-direction: column;
    order: 4;
    justify-content: center;
    margin: 0 auto;
  }

  .titulo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    order: 0;
  }
  .subtitulo {
    order: 2;
    color: white;
  }
  h1 {
    color: #343a40;
    font-size: 50px;
    margin-top: 2%;
    font-family: "Roboto", sans-serif;
  }
  h2 {
    margin-left: 3%;
    margin-top: 10%;
    font-family: "Arimo", sans-serif;
  }

  h3 {
    margin-top: 7%;
    margin-left: 1%;
    color: white;
    font-size: medium;
    margin: 10px;
  }
}

@media screen and (min-width: 859px) and (max-width: 1199px) {
  /* Nav Bar */

  .header {
    position: sticky;
    top: 0;
  }

  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgb(0, 0, 0, 0)),
      url(../img/Fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }

  .enlace {
    position: absolute;
    padding: 20px 50px;
  }
  nav ul li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 7px 13px;
    text-transform: uppercase;
  }

  nav {
    background: black;
    height: 80px;
    width: 100%;
  }
  .indice__logo {
    height: 40px;
  }

  nav ul {
    float: right;
    color: white;
    background: black;
    margin-right: 20px;
  }

  nav ul li {
    display: inline-block;
    margin: 0 5px;
    line-height: 80px;
    color: white;
  }

  .checkbtn {
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check {
    display: none;
  }

  /* .indice__logo {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 30px;
    width: 150px;
  } */

  /* nav {
    display: flex;
    padding-top: 3%;
    justify-content: flex-end;
    background-color: #000;
    flex-direction: column;
  }  */

  /* .link { 
    background: #000;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    justify-content: flex-end;
  } */

  .link:hover {
    background: grey;
    width: 20px;
  }

  /* Index */

  .inicioContainer {
    display: flex;
    flex-direction: column;
  }

  .inicioTexto {
    padding-left: 3%;
    margin-top: 10%;
    font-size: large;
    margin-top: 3%;
    margin-bottom: 2%;
    order: 3;
    color: white;
  }

  .hawk {
    display: flex;
    flex-direction: column;
    order: 1;
    justify-content: center;
    margin: 0 auto;
  }

  .leo {
    display: flex;
    flex-direction: column;
    order: 4;
    justify-content: center;
    margin: 0 auto;
  }

  .titulo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    order: 0;
  }
  .subtitulo {
    order: 2;
    color: white;
  }
  h1 {
    color: #343a40;
    font-size: 50px;
    margin-top: 2%;
    font-family: "Roboto", sans-serif;
  }
  h2 {
    margin-left: 3%;
    margin-top: 10%;
    font-family: "Arimo", sans-serif;
  }

  h3 {
    margin-top: 7%;
    margin-left: 1%;
    color: white;
    font-size: medium;
    margin: 10px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgb(0, 0, 0, 0)),
      url(../img/Fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  /* Nav Bar */
  .header {
    position: sticky;
    top: 0;
  }
  nav {
    background: black;
    height: 80px;
    width: 100%;
  }
  .indice__logo {
    height: 40px;
  }
  .enlace {
    position: absolute;
    padding: 20px 50px;
  }
  nav ul {
    float: right;
    color: white;
    background: black;
    margin-right: 20px;
  }

  nav ul li {
    display: inline-block;
    margin: 0 5px;
    line-height: 80px;
  }

  nav ul li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 7px 13px;
    text-transform: uppercase;
  }

  .checkbtn {
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check {
    display: none;
  }

  /* .indice__logo {
      display: flex;
      justify-content: flex-start;
      padding-bottom: 30px;
      width: 150px;
    }*/

  /* nav {
      padding-top: 3%;
      justify-content: flex-end;
      background-color: #000;
      width: 100%;
      height: 80px;
    } */

  /* .link {
      background: black;
      display: inline-block;
      color: white;
      text-decoration: none;
      padding: 10px 30px;
      justify-content: flex-end;
    }  */

  .link:hover {
    background: grey;
  }

  h1 {
    color: #343a40;
    font-size: 50px;
    margin-top: 2%;
    font-family: "Roboto", sans-serif;
  }

  h3 {
    margin-top: 7%;
    margin-left: 1%;
    color: white;
    font-size: medium;
    margin: 10px;
  }

  .inicioContainer {
    padding: 10% 10%;
    display: grid;
    grid-gap: 10%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30% 5% 25% 30% 10%;
    grid-template-areas:
      " titulo  hawk "
      "subtitulo  subtitulo "
      " inicioTexto  leo   "
      "inicioTexto none"
      "footer footer";
  }

  .titulo {
    grid-area: titulo;

    margin-left: 3%;
    color: white;
    font-size: 30px;
    margin-top: 2%;
    font-family: "Roboto", sans-serif;
  }

  .hawk {
    grid-area: hawk;
    padding-left: 150%;
  }

  .subtitulo {
    grid-area: subtitulo;
    margin-left: 1%;
    color: white;
  }

  .leo {
    grid-area: leo;
    padding-left: 150%;
  }

  .inicioTexto {
    color: white;
    grid-area: inicioTexto;
    margin-left: 1%;
    margin-bottom: 40%;
  }
}
