@media screen and (min-width: 350px) and (max-width: 858px) {
  .faqContainer {
    width: 90%;
    max-width: 1320px;
    margin: 0 auto;
    color: white;

    .faqRow {
      display: flex;

      .faqCol {
        display: flex;
        flex-direction: column;

        .faqTexto {
          font-size: 20px;
          padding-top: 2%;
          padding-left: 3%;
          font-family: "Rubik", sans-serif;
        }
      }
    }

    .faqPreguntas {
      padding-top: 4%;

      hr {
        border-color: grey;
      }
    }
  }
}

@media screen and (min-width: 859px) and (max-width: 1199px) {
  .faqContainer {
    width: 90%;
    max-width: 1320px;
    margin: 0 auto;
    color: white;

    .faqRow {
      display: flex;

      .faqCol {
        display: flex;
        flex-direction: column;

        .faqTexto {
          font-size: 20px;
          padding-top: 2%;
          padding-left: 3%;
          font-family: "Rubik", sans-serif;
        }
      }
    }
    .faqPreguntas {
      padding-top: 4%;

      hr {
        border-color: grey;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .faqContainer {
    width: 90%;
    max-width: 1320px;
    margin: 0 auto;
    color: white;

    .faqRow {
      display: flex;

      .faqCol {
        display: flex;
        flex-direction: column;

        .faqTexto {
          font-size: 20px;
          padding-top: 2%;
          padding-left: 3%;
          font-family: "Rubik", sans-serif;
        }
      }
    }
  }
  .faqPreguntas {
    padding-top: 4%;
    color: white;

    hr {
      border-color: white;
    }
    .preguntaSimbolo1,
    .preguntaSimbolo2,
    .preguntaSimbolo3,
    .preguntaSimbolo4,
    .preguntaSimbolo5,
    .preguntaSimbolo6 {
      display: flex;
      justify-content: space-arround;
      width: 100%;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
}
