@media screen and (min-width: 350px) and (max-width: 858px) {
  .ubicacionContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;

    .ubicacionCol {
      display: flex;
      flex-direction: column;

      .ubicacionTexto {
        margin-top: 10%;
        font-size: 30px;
      }

      .ubicacionImagen {
        width: 100%;
        padding-left: 3%;
        padding-top: 3%;
      }
    }

    .maps {
      margin-top: 3%;

      .mapa {
        width: 100%;
        height: 100%;
        padding-bottom: 10%;
      }
    }
  }
}

@media screen and (min-width: 859px) and (max-width: 1199px) {
  .ubicacionContainer {
    display: grid;
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 33% 33% 34%;
    grid-template-areas:
      " ubicacionTexto  ubicacionImagen "
      "mapa  mapa "
      "footer footer";

    .ubicacionRow {
      display: flex;

      .ubicacionCol {
        display: flex;
        flex-direction: column;

        .ubicacionTexto {
          margin-top: 10%;
          font-size: 30px;
        }

        .ubicacionImagen {
          padding-left: 3%;
          padding-top: 3%;
        }
      }
    }
    .maps {
      margin-top: 3%;

      .mapa {
        width: 100%;
        height: 100%;
        padding-bottom: 10%;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .ubicacionContainer {
    display: grid;
    width: 100%;
    max-width: 100%;
    margin: auto;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    grid-template-areas:
      " ubicacionTexto  ubicacionImagen "
      "maps    maps ";

    .ubicacionTexto {
      grid-area: ubicacionTexto;
      margin-top: 10%;
      font-size: 30px;
      margin-left: 5%;
    }

    .ubicacionImagen {
      grid-area: ubicacionImagen;
      padding-left: 3%;
      padding-top: 3%;
    }

    .maps {
      margin-top: 3%;
      grid-area: maps;
      .mapa {
        grid-area: mapa;
        width: 100%;
        height: 100%;
        padding-bottom: 10%;
        margin-top: 10%;
      }
    }
  }
}
